.game-container{
    width:95%;
    margin:auto;
    margin-top:10px;
    position:relative;
}

#grid{
    display:grid;
    grid-template-columns:repeat(6,1fr);
    gap:5px;
    margin-top:20px;
}

.symbol{
    height:70px;
    background:#111;
    border-radius:8px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:28px;
    transition:0.3s;
}

.controls{
    margin-top:15px;
}

button{
    padding:10px 20px;
    background:#b8860b;
    border:none;
    border-radius:6px;
    font-size:16px;
    cursor:pointer;
}
